@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Variables */
:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
    --scrollbar-bg-color: #383838;
    --scrollbar-thumb-color: #6b6b6b;
    --scrollbar-width: 12px;
    --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0, 0.1);
    --outline:.1rem solid rgba(0, 0, 0, 0.1);
    --green: #28a745; /* Define the blue color variable */
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background-color: var(--background-dark-color);
}

body{
    background: var(--background-light-color);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--font-light-color);
}

/* CSS for Banner Section */
section{
    padding: 2rem 9%;

}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--background-dark-color);

}

.heading span{
    background: var(--green);
    color: var(--background-light-color);
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}

.btn{
    border: .2rem solid var(--background-dark-color);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--background-dark-color);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color: var(--background-light-color);
}
.header{
    border: 1px solid;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-size: 2.5rem;
    color: var(--font-dark-color);
    text-transform: uppercase;
    font-weight: 600;
    position: fixed;
    padding: 1rem 9%;
    margin-bottom: 2rem;
    background: var(--background-light-color);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--font-dark-color);
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    color: var(--font-dark-color);
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
}

.header .navbar a:hover{
    color: var(--green);
}

.header .icons div{
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: var(--background-light-color);
    color: var(--font-dark-color);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;

}

.hover .icons div:hover{
    background: var(--green);
    color: var(--background-light-color);
}

#menu-btn{
    display: none;
}

.header .navbar.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: 0.4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background: none;
    text-transform: none;
    color: var(--font-dark-color);
    padding: 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    color: var(--font-dark-color);
    padding-right: 1.5rem;
    color: var(--font-dark-color);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--green);
    height: auto;
}


.header .shopping-cart {
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%; /* Position the shopping cart to the right by (-110%)*/
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: var(--background-light-color);
    transition: 0.4s linear; /* Smooth transition */
}
.header .shopping-cart.active{
    right: 2rem;
    transition: 0.4s linear; 
}

.header .shopping-cart .box{
    border: 1px solid var(--green);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
    height: 10rem;
    overflow-y: auto;
}

.header .shopping-cart .box img{
    height: 7rem;
}

.header .shopping-cart .box h1{
    font-size: 2.5rem;
    color: var(--background-dark-color);
}

.header .shopping-cart .box .price{
    font-size: 2rem;
    color: var(--green);
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    color: var(--font-light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
    color: var(--background-dark-color);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--font-light-color);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--background-dark-color);

}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.header .login-form
{
    border: 1px solid;
    position: absolute;
    width: 30rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: .2rem;
    border-radius: .5rem;
    background: var(--background-light-color);
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: 0.4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    color: var(--background-dark-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.header .login-form .box{
    border: 1px solid;
    width: 100%;
    margin: .7rem 0;
    background: var(--font-light-color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--background-dark-color);
    text-transform: none;

}

.header .login-form  p{
    font-size: 1.4rem;
    color: var(--font-light-color);
    padding: .5rem 0;
}

.header .login-form p a{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--green);
    text-decoration: underline;
}

.home{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(../image/banner-img.jpg) no-repeat; /* Add the banner background image */
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 15rem;
}

.home .content{
    border: 0px solid;
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: var(--background-dark-color);
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--green);
}

.home .content p{
    color: var(--font-light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/*Features Section CSS */
.features .box-container{
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    text-align: center;
}

.features .box-container .box{
    border: 1px solid var(--green);
    padding: 2rem;
    border-radius: .5rem;
    background: var(--background-light-color);
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    transition: 0.4s linear;
}


.features .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    color: var(--background-dark-color);
    font-size: 2.5rem;
    line-height: 1.8;
}

.features .box-container .box p{
    color: var(--font-light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
    padding: 1rem 0;
}

/* Products Section CSS */
.products .product-slider{
    border: 0px solid;
    padding: 1rem 0;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    border : 1px solid var(--green);
    background: var(--white-color);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow); 
    transition: .2 linear;
}

.products .product-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

/* Categories Section CSS */
.categories .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
    outline: var(--outline);
    text-align: center;
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--background-dark-color);
    line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--font-light-color);
    line-height: 1.8;
    padding: 1rem 0;
    
}

/* Blogs Section CSS */
.blogs .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
    outline: var(--outline);
    text-align: center;
}

.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .content .img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    border-radius: .5rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;   
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    font-size: 1.5rem;
    color: var(--font-light-color);
}

.blogs .box-container .box .content .icons a i{
    color: var(--green);
    padding-right: .5rem;
}

.blogs .box-container .box  .content h3{
    font-size: 1.5rem;
    color: var(--background-dark-color);
    line-height: 1.8;
    padding: .5rem 0;
}

.blogs .box-container .box  .content p{
    font-size: 1.5rem;
    color: var(--secondary-color);
    line-height: 1.8;
    padding: .5rem 0;
}

.blogs .box-container .box .content .icons a:hover{
    color: var(--background-dark-color);
}

.products .product-slider .box img{
    height: 0rem;
}

.products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--background-dark-color);

}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--font-dark-color-2);
    padding: .5rem 0;
}

.products .product-slider .box .star i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}

/* Reviews Section CSS */
.reviews .review-slider{
    border: 1px solid;
    padding: 1rem 0;
}

.reviews .review-slider .box{
    border: 2px solid var(--green);
    background: var(--white-color);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem 2rem;
    height: 30rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.reviews .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.reviews .review-slider .box img{
    margin: 1rem 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.reviews .review-slider .box h3{
    color: var(--background-dark-color);
    font-size: 2.5rem;
    line-height: 1.7;
    padding-bottom: .5rem;
}

.reviews .review-slider .box p{
    color: var(--font-light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.7;
}

.reviews .review-slider .box .star {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem; /* Adjust the height as needed */
}

.reviews .review-slider .box .star i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}

/* Footer Section CSS */
.footer {
    padding: 2rem 0;
    background: var(--white-color);
    color: var(--font-dark-color);
    text-align: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--background-dark-color);
    padding-bottom: 1rem;
}

.footer .box-container .box h3 i {
    color: var(--green);
    font-size: 1.5rem;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--font-dark-color-2);
    padding: 1rem 0;
}

.footer .box-container .box p {
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--font-light-color);
    padding: 1rem 0;
}

.footer .box-container .box .email-input,
.footer .box-container .box .email {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: .5rem;
    background-color: var(--background-light-color);
    font-size: 1.5rem;
    color: var(--font-dark-color);
    text-transform: none;
}

.footer .box-container .box .payment-img {
    width: 225px;
    height: auto;
    margin-top: 2rem;
    height: 3rem;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
    color: var(--green);
}

.footer .box-container .box .share a {
    border: 0;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .2rem;
    background: var(--background-light-color);
    text-align: center; /* Center the text horizontally */
    display: inline-block; /* Ensure the elements are inline */
}

.footer .box-container .box .share a:hover {
    background: var(--secondary-color);
    color: var(--background-light-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer .box-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem ;
    }
    section{
        padding: 2rem;
    }
}



@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--background-light-color); ;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading {
        font-size: 2.5rem;
    }
}